POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=autoselp
DATABASE_URL=postgresql+asyncpg://admin:password@db:5432/autoselp
REDIS_URL=redis://redis:6379/0
SECRET_KEY=yoursecretkeychangeit
ENCRYPTION_KEY=D_Y7_n9_Z-w6Dt8ZPpgBKjTV0mNXB-OJp8HrCc=

# Base URL for redirects (Frontend URL)
BASE_URL=http://localhost:3000

# Admin Security
ADMIN_SECRET_KEY=admin_secret_123

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Naver OAuth
NAVER_CLIENT_ID=your_naver_client_id
NAVER_CLIENT_SECRET=your_naver_client_secret

